@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section style="background-image:url(assets/img/hero.jpg);" class="section-one">
        <div class="box1">
            <h2>INDIGO TEMPLATE</h2>
        </div>
        <div class="box">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
            <div class="buttons">

                <button class="btn btn-primary">LEARN MORE</button>
                <button class="btn btn-success">DOWNLOAD</button>
            </div>
        </div>

    </section>
    <section class="section-two">
        <div class="box">

            <h3>OUR SERVICES</h3>
            <p>Laudantium ullam consequatur repellat debitis maxime.</p>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="a">

                        <i class="fa-solid fa-camera-retro"></i>
                    </div>
                    <h4 style="padding-left: 50px;">WEB DESIGN</h4>
                    <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                    <div class="b">

                        <button class="btn btn-success">Learn More</button>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="a">

                        <i class="fa-solid fa-camera-retro"></i>
                    </div>
                    <h4>WORDPRESS DEVELOPMENT</h4>
                    <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                    <div class="b">

                        <button class="btn btn-success">Learn More</button>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="a">

                        <i class="fa-solid fa-camera-retro"></i>
                    </div>
                    <h4>AWESOME SERVICE TITLE</h4>
                    <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
                    <div class="b">

                        <button class="btn btn-success">Learn More</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section style="background-image: url(assets/img/hero.jpg);" class="section-three">
        <h2>LAUDANTIUM ULLAM CONSEQUATUR REPELLAT DEBITIS MAXIME.</h2>

    </section>
    <section class="section-foor">
        <div class="box">
            <h3>RECENT POSTS</h3>
            <p>Laudantium ullam consequatur repellat debitis maxime.</p>
        </div>
        <div class="container">
            <div class="col-md-4">
                <img style="width: 300px;height:200px;" src="~/assets/img/blog1.jpg" alt="">
                <h4>YELP IS AWFUL FOR EVERYONE INVOLVED</h4>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <button class="btn btn-success">Learn More</button>
            </div>
            <div class="col-md-4">
                <img style="width: 300px;height:200px;" src="~/assets/img/blog2.jpg" alt="">
                <h4>2 BEST SITES TO BUILD YOUR OWN WEBSITE</h4>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <button class="btn btn-success">Learn More</button>

            </div>
            <div class="col-md-4">
                <img style="width: 300px;height:200px;" src="~/assets/img/blog3.jpg" alt="">
                <h4>2 BEST SITES TO BUILD YOUR OWN WEBSITE</h4>
                <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
                <button class="btn btn-success">Learn More</button>

            </div>
    </section>
    <section style="background-image: url(assets/img/hero.jpg);" class="section-five">
        <h2>LAUDANTIUM ULLAM CONSEQUATUR REPELLAT DEBITIS MAXIME.</h2>

    </section>
    <section class="section-six">
        <h3>CONTACT US</h3>
        <p>Laudantium ullam consequatur repellat debitis maxime.</p>
        <div class="labelinput">

            <label for="Name"></label>
            <input style="width: 300px;" placeholder="Name" type="text" id="Name" name="Name">
            <label for="Email"></label>
            <input style="width: 300px;" placeholder="Email" type="text" id="Email" name="Email"><br><br>
            <label for="Message"></label>
            <input style="width: 610px;height: 200px;" placeholder="Message" type="text" id="message" name="message"><br><br>
            <button class="btn btn-success">Submit</button>
        </div>
    </section>
    <section style="background-image: url(assets/img/hero.jpg);" class="section-seven">
        <h2>
            LAUDANTIUM ULLAM CONSEQUATUR REPELLAT DEBITIS MAXIME.
        </h2>
    </section>
</main>
